* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.header {
  width: 100%;
  padding: 15px;
  background-color: #5a79ce;
  text-align: center;
}

.header--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title--logo a {
  text-decoration: none;
  padding: 10px;
}

.title--logo a h1 {
  color: #fff;
  font-size: 25px;
}

.title--logo img {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.title--logo img:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.finder--cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buscador-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buscador-form input {
  border-radius: 10px;
  padding: 5px;
}

.btn-submit {
  margin-left: 3px;
  padding: 5px 10px;
  border-radius: 4px;
  border-radius: 1px solid #aaa;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5f7bca30;
  margin: 15px 4px 15px 4px;
  -webkit-box-shadow: 4px 4px 32px -1px #000000;
          box-shadow: 4px 4px 32px -1px #000000;
  border-radius: 2px;
}

.category__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 8px 0 8px 0;
}

.category__item {
  width: 200px;
  background-color: #5a79ce;
  border-radius: 8px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.bt-item-active {
  background-color: #081541;
}

.store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  -webkit-box-shadow: 8px 8px 16px -1px #00000080;
          box-shadow: 8px 8px 16px -1px #00000080;
  border-radius: 10px;
  max-width: 250px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.descriptionProd {
  background-color: #5f7bca45;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 10px;
  border-radius: 0 0px 8px 8px;
  width: 100%;
}

.product--name {
  margin: 4px;
  width: 100%;
}

.product--img {
  height: 240px;
  width: 240px;
}

.btn {
  width: 100%;
}

.footer {
  padding: 20px;
  text-align: center;
  background-color: #5a79ce;
}

.footer--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.rights p {
  font-size: 16px;
  font-weight: bold;
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto p {
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}

.contacto__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.contacto__ul li {
  list-style: none;
  margin: 4px;
}

.contacto__img {
  display: none;
}

.contacto__img img {
  width: 40px;
  height: 40px;
  margin: 5px;
}

@media screen and (max-width: 700px) {
  .category__list,
  .products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 550px) {
  .header--container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacto__ul {
    display: none;
  }
  .contacto__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */