* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}
//HEADER
.header {
  width: 100%;
  padding: 15px;
  background-color: #5f7bca;
  text-align: center;
}
.header--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.title--logo {
  display: flex;
  align-items: center;
  & a {
    text-decoration: none;
    padding: 10px;
  }
  & a h1 {
    color: #fff;
    font-size: 25px;
  }
  & img {
    width: 80px;
    height: 80px;
    padding: 10px;
  }
}

.finder--cart {
  display: flex;
}
.buscador {
  display: flex;
  align-items: center;
  & img {
    height: 50px;
    width: 50px;
    padding: 10px;
  }
  & input {
    border-radius: 10px;
  }
}
//STORE
.store {
  display: flex;
  flex-direction: column;
  padding: 0;
}
//NAV
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  margin: 15px 4px 15px 4px;
  box-shadow: 4px 4px 32px -1px #000000;
  border-radius: 2px;
}
nav li {
  list-style: none;
  padding: 14px 0px;
  background-color: #5f7bca;
  border-radius: 10px;
  margin: 10px;
  width: 160px;
  text-align: center;
}
nav li a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}
//MAIN
.productos {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.product--img {
  height: 250px;
  width: 200px;
}
//FOOTER
footer {
  padding: 20px;
  text-align: center;
  background-color: #f54;
}

//MEDIA QUERIES
@media screen and (max-width: 700px) {
  nav,
  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .header--container {
    justify-content: center;
  }
}
