* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}
//HEADER
.header {
  width: 100%;
  padding: 15px;
  background-color: $base-color;
  text-align: center;
}
.header--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.title--logo {
  display: flex;
  align-items: center;
  & a {
    text-decoration: none;
    padding: 10px;
  }
  & a h1 {
    color: #fff;
    font-size: 25px;
  }
  & img {
    width: 80px;
    height: 80px;
    padding: 10px;
  }
}

.finder--cart {
  display: flex;
}
.buscador {
  display: flex;
  align-items: center;
  & img {
    height: 50px;
    width: 50px;
    padding: 10px;
  }
  & input {
    border-radius: 10px;
  }
}
//NAV
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #5f7bca30;
  margin: 15px 4px 15px 4px;
  box-shadow: 4px 4px 32px -1px #000000;
  border-radius: 2px;
}
.nav__ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 8px 0 8px 0;
}
.nav__ul li {
  list-style: none;
  width: 200px;
  padding: 10px;
  background-color: $base-color;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  & a {
    padding: 14px 0px;
    text-decoration: none;
    color: #fff;
    padding: 5px;
  }
}

//MAIN
//STORE
.store {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.store__products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.store__products--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: 8px 8px 16px -1px #00000080;
  border-radius: 10px;
  max-width: 250px;
}
.product--name {
  display: flex;
  align-items: center;
  background-color: #5f7bca45;
  height: 20%;
  margin: 0;
  padding: 10px;
  border-radius: 0 0px 8px 8px;
  width: 100%;
}

.product--img {
  height: 80%;
  width: 240px;
}
//FOOTER
.footer {
  padding: 20px;
  text-align: center;
  background-color: $base-color;
}
.footer--container {
  display: flex;
  justify-content: space-around;
}
.rights {
  display: flex;
  align-items: flex-end;
  & p {
    font-size: 16px;
    font-weight: bold;
  }
}
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & p {
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
  }
}
.contacto__ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;

  & li {
    list-style: none;
    margin: 4px;
  }
}
.contacto__img {
  display: none;
  & img {
    width: 40px;
    height: 40px;
    margin: 5px;
  }
}

//MEDIA QUERIES
@media screen and (max-width: 700px) {
  .nav__ul,
  .store__products {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {
  .header--container {
    justify-content: center;
  }
  .contacto__ul {
    display: none;
  }
  .contacto__img {
    display: flex;
    flex-direction: column;
  }
}
